<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>
<form action="localhost:8081/api/v1/profile/new" method="post" target="_blank">
  <p>Username: <input type="text" name="user"></p>
  <p>Password: <input type="password" name="pass"></p>
    <p>Email: <input type="email" name="user_email"></p>
  <p>Contact: <input type="text" name="contact"></p>
  <p><input type="submit" value="Enter"></p>
</form>
<form action="../../registration" method="post" target="_blank">
  <p><input type="submit" value="Sign In"></p>
</form>
</body>
</html>